.footercenter{
    background-color: #f9f9f9;
    padding: 70px 12px;
    width: 1100px;
    height: 210px;
    margin: 0px 105px;
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid #dddddd;
    font-family: Lato, sans-serif;
}

.kart{
    width: 356px;
    height: 210px;
    margin-right: 95px;
}
.brand2{
    width: 180px;
    height: 34px;
    margin-bottom: 18px;
}
.lorm{
    width: 330px;
    height: 96px;
    line-height: 32px;
    font-size: 14px;
    color: #777777;
    margin: 0;
}

.footersocial{
    width: 356px;
    height: 22px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
}
.fa-facebook ,
.fa-google-plus,
.fa-twitter,
.fa-instagram,
.fa-rss{
    padding-right: 45px;
    padding-left: 0px;
    font-size: 16px;
    color: #212529;
}
.fa-facebook:hover ,
.fa-google-plus:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-rss:hover{
    color:#ff4c3b;
}



.information{
    width: 198px;
    height: 210px;
    padding: 0px 12px;
}
.informationTitle{
    width: 198px;
    height: 16px;
    margin-bottom: 25px;
    margin-top: 0px;
    font-size:16px;
    color: #222222;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
}
.informationcontant{
    width: 198px;
    height: 136px;
    padding:0px;
}
.informationList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items:left;
    position: relative;
    padding-top: 13px;
    padding-bottom: 0px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 13px;
    color: #777777;
    list-style-type: none;
    width: 160px;
    height: 20px;
    line-height: 0.03rm;
}

.store{
    padding-top: 25px;
}

.choose{
    width: 198px;
    height: 210px;
    padding: 0px 12px;
}