.meno{
    width: 1333px;
    height: 50px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    font-family: Lato, sans-serif;
}
.container{
    padding-right: 12px;
    padding-left: 12px;
    margin:0px 105px;
    box-sizing: border-box;
    unicode-bidi: isolate;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap ;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.leftheader{
    width: 50%;
    height: 50px;
    text-align: left !important;

}
ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    color: #999999;
}
.listphone{
    padding-right: 25px;
    list-style-type: none;
}
.fa-phone{
    padding-right: 10px;
    width: 11px;
    height: 14px;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    font-size: 10px;
    text-rendering: auto;
    display: inline;
}
i{
    width: 10px;
    height: 15px;
    color: #ff4c3b;
    font-size: inherit;
}

.rightheader{
    width: 50%;
    text-align: right !important;
    display: flex;
    justify-content: flex-end;
    
} 

.menolist{
    list-style-type: none;
    padding-right: 25px;
}
.fa-random{
    padding-right: 5px;
    color: #999999;
    font-size: 14px;
    
}
.menolist:hover{
    color: #ff4c3b;
}