.meno {
    height: 50px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    font-family: Lato, sans-serif;
}

.container {
    padding-right: 12px;
    padding-left: 12px;
    margin: 0px 105px;
    box-sizing: border-box;
    unicode-bidi: isolate;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.leftheader {
    width: 546px;
    height: 50px;
    text-align: left !important;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    color: #999999;
    padding-left: 0;
}

.listphone {
    padding-right: 25px;
    list-style-type: none;
}

.fa-phone {
    padding-right: 10px;
    width: 11px;
    height: 14px;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    font-size: 10px;
    text-rendering: auto;
    display: inline;
}

i {
    width: 10px;
    height: 15px;
    color: #ff4c3b;
    font-size: inherit;
}

.rightheader {
    width: 50%;
    text-align: right !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.menolist {
    list-style-type: none;
    padding-right: 25px;
    cursor: pointer;
}

.menolist2 {
    list-style-type: none;
    padding-right: 15px;
    cursor: pointer;
}

.fa-random {
    padding-right: 9px;
    color: #999999;
    font-size: 14px;
}

.fa-heart {
    padding-right: 9px;
    color: #999999;
    width: 13px;
    height: 13px;
}

.fa-user {
    padding-right: 5px;
    color: #999999;
    font-size: 11px;
}

.fa-duotone {
    padding: 0;
    margin: 0;
    color: #999999;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.fa-random:hover,
.menolist:hover,
.fa-heart:hover,
.fa-user:hover {
    color: #ff4c3b;
}